

<div>
    <h2>Public recipes</h2>
</div>
  <% @public_recipes.each do |recipe| %>
    <div> 
      <p><%= link_to recipe.name, user_recipe_path( recipe.user.id, recipe.id  ) %> </p>
      <p> By: <%= recipe.user.email %> </p>  
    </div>

    <div>
      <p>Total food items: <%=  @public_recipe.food_arr(recipe.id).count %></p>
      <p>Total price: 
        <%=  @public_recipe.total_food_price(@public_recipe.food_arr(recipe.id), recipe.id ) %>$
      </p>
    </div>  
</div>
  <% end %>

<!DOCTYPE html>
<html>
  <head>
    <title>Recipes App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "public_recipes/styles", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>

  <div class="public_recipes">
    <h1 class="title">All Public Recipes for You</h1>
    <div class="inner_container">
      <div class="all_recipe_container">
        <div class="recipe_container">
          <div class="owner_info">
            <h1>Simple Dish</h1>
            <p>BY: "David"</p>
          </div>
          <div class="recipe_info">
            <p>Total Food Items: 4</p>
            <p>Total Price: $152</p>
          </div>
        </div>
        <div class="recipe_container">
          <div class="owner_info">
            <h1>Simple Dish</h1>
            <p>BY: "David"</p>
          </div>
          <div class="recipe_info">
            <p>Total Food Items: 4</p>
            <p>Total Price: $152</p>
          </div>
        </div>
        <div class="recipe_container">
          <div class="owner_info">
            <h1>Simple Dish</h1>
            <p>BY: "David"</p>
          </div>
          <div class="recipe_info">
            <p>Total Food Items: 4</p>
            <p>Total Price: $152</p>
          </div>
        </div>
        <div class="recipe_container">
          <div class="owner_info">
            <h1>Simple Dish</h1>
            <p>BY: "David"</p>
          </div>
          <div class="recipe_info">
            <p>Total Food Items: 4</p>
            <p>Total Price: $152</p>
          </div>
        </div>
  </body>
</html>

