<% @recipes.includes([:user]).each do |recipe| %>
<div id="reciped" class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= recipe.name %></h5>
    <p class="card-text"> By: <%= recipe.user.name %></p>
    <% if recipe.public %>
    <span class="badge bg-secondary">Public</span>
    <% else %>
    <span class="badge bg-secondary">Private</span>
    <% end %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><p><%= recipe.description %></p></li>
  </ul>
  <div class="card-body">
  <div class="container">
    <%= link_to "Details", recipe_path(recipe.id), class: "btn btn-outline-primary" %>
  </div>
  <div class="container">
    <%= button_to "Remove", recipe_path(recipe.id), method: :delete, class: "btn btn-outline-danger" %>
  </div>
  </div>
</div>
<% end %>