<div class="food_container">
  <table id="customers">
    <tr>
      <th>Food</th>
      <th>Qunatity</th>
      <th>Unit Price</th>
      <th>Actions</th>
    </tr>

      <%# <% if can? :read, @food %>
        <% @food.each_with_index do |food| %>
          <tr>
            <td><%= food.name %></td>
            <td><%= food.quantity %> <%= food.measurement %></td>
            <td><%= food.price %></td>
            <td><%= button_to "Delete the Food", food_path(food.id), data: { confirm: "Are you sure?" }, method: :delete %></td>
          </tr>
        <% end  %>
      <%# <% end %>
  </table>
  <button class="btn-hover color-1 font"><%= link_to 'Add Food', new_food_path , class: 'link' %></button>
</div>

